In [56]:
from sklearn import datasets, metrics
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from pprint import pprint
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
data = pd.read_csv('data/data-science-london-scikit-learn/train.csv', header=None)

target = pd.read_csv('data/data-science-london-scikit-learn/trainLabels.csv', header=None)

In [64]:
data = pd.read_csv('data/data-science-london-scikit-learn/train.csv')

target = pd.read_csv('data/data-science-london-scikit-learn/trainLabels.csv')

x_train, x_test, y_train, y_test = train_test_split(data, target, test_size=0.25, random_state=42)

rf = RandomForestClassifier()

rf.fit(x_train, y_train)

y_pred = rf.predict(x_test)

C:\Users\ddino\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  if __name__ == '__main__':

In [65]:
acc = metrics.accuracy_score(y_test, y_pred)
print("Accuracy: ", acc)

Accuracy:  0.868

In [66]:
test = pd.read_csv('data/data-science-london-scikit-learn/test.csv', header=None)

In [67]:
y_pred = rf.predict(test)

In [72]:
pd.DataFrame({'Id': list(range(1,9001)), 'Solution': y_pred}).to_csv('London.csv', index=False)

In [73]:
result = pd.read_csv('London.csv')

In [74]:
result

        Id  Solution
0        1         1
1        2         0
2        3         1
3        4         0
4        5         0
5        6         0
6        7         0
7        8         1
8        9         0
9       10         0
10      11         1
11      12         1
12      13         1
13      14         0
14      15         0
15      16         1
16      17         0
17      18         1
18      19         0
19      20         0
20      21         0
21      22         1
22      23         1
23      24         0
24      25         1
25      26         1
26      27         1
27      28         0
28      29         1
29      30         0
...    ...       ...
8970  8971         0
8971  8972         0
8972  8973         1
8973  8974         1
8974  8975         0
8975  8976         1
8976  8977         0
8977  8978         1
8978  8979         0
8979  8980         0
8980  8981         1
8981  8982         1
8982  8983         1
8983  8984         0
8984  8985         0
8985  8986         1
8986  8987         0
8987  8988         0
8988  8989         1
8989  8990         0
8990  8991         0
8991  8992         1
8992  8993         0
8993  8994         1
8994  8995         1
8995  8996         1
8996  8997         1
8997  8998         1
8998  8999         0
8999  9000         1

[9000 rows x 2 columns]