## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

### 方法一

In [2]:
data = {'國家': ['Taiwan', 'United States', 'Thailand'],
        '人口': [3000000, 50000000, 700000000]}
population = pd.DataFrame(data)
print(population)

              國家         人口
0         Taiwan    3000000
1  United States   50000000
2       Thailand  700000000

### 方法二

In [3]:
countries = ['Taiwan', 'United States', 'Thailand']
population = np.random.randint(3000000, 50000000, size=3)

list_labels = ['國家', '人口']
list_cols = [countries, population]

zipped = list(zip(list_labels, list_cols))
print(zipped)

[('國家', ['Taiwan', 'United States', 'Thailand']), ('人口', array([ 3295497, 15425637, 46892087]))]

In [4]:
dict(zipped)

{'國家': ['Taiwan', 'United States', 'Thailand'],
 '人口': array([ 3295497, 15425637, 46892087])}

In [5]:
population_2 = pd.DataFrame(dict(zipped))
print(population_2)

              國家        人口
0         Taiwan   3295497
1  United States  15425637
2       Thailand  46892087

In [6]:
population_2.iloc[population_2['人口'].idxmax()]['國家']

'Thailand'

### loc與iloc的差別
[pandas.DataFrame里的loc和iloc什么区别？](http://sofasofa.io/forum_main_post.php?postid=1000264) <br />
對一個DataFrame A，A.loc[k]是讀取A中index為k的那一行。A.iloc[k]是讀取A中的第k行。

In [7]:
A = {'Name': ['Tom', 'Tony', 'Jim'], 'Age': [20, 19, 22]}
A = pd.DataFrame(A, [1, 3, 4])

In [8]:
A

   Name  Age
1   Tom   20
3  Tony   19
4   Jim   22

In [9]:
A.loc[4]

Name    Jim
Age      22
Name: 4, dtype: object

In [10]:
A.iloc[0]

Name    Tom
Age      20
Name: 1, dtype: object

In [11]:
A.iloc[1]

Name    Tony
Age       19
Name: 3, dtype: object